<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/icons/icon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css"> 
    {{ page_css }}
</head>
<body>
    <!-- Check if sidebar should be displayed -->
    <?php if (isset($sidebar) && $sidebar !== false): ?>
        <div class="container">
            <!-- Include Sidebar -->
            <!-- <?php include __DIR__ . '/side-bar.html'; ?> -->

            <!-- Content area -->
            <div class="body">
                {{ content }}
            </div>
        </div>
    <?php else: ?>
        <!-- Content area without sidebar -->
        <div class="body">
            {{ content }}
        </div>
    <?php endif; ?>

    <script src="/assets/js/scripts.js"></script> 
    {{ page_js }}
</body>
</html>
