<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/icons/icon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css"> 
    {{ page_css }} <!-- Insert page-specific CSS if available -->
</head>
<body>

    <?php if ($show_nav): ?> 
        <?php include "nav.html"; ?> 
    <?php endif; ?>

    <div>
        {{ content }}
    </div>

    <?php if ($show_footer): ?>
        <?php include "footer.html"; ?> 
    <?php endif; ?>

    <script src="/assets/js/scripts.js"></script> 
    {{ page_js }} 
</body>
</html>
