<link rel="stylesheet" href="/assets/css/styles.css">
<div class="line"></div>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a href="#">Blue<span>Job</span>.</a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <span><i class="ri-menu-line"></i></span>
            </div>
        </div>
        <ul class="nav__links" id="nav-links">
            <li><a href="#">Post a job</a></li>
            <li><a href="#">Find Work</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="nav__btns">
            <button class="btn sign__up">Sign Up</button>
            <button class="btn sign__in">Sign In</button>
        </div>
    </nav>
</div>