<div class="side-bar">
    <div class="head">
        <div class="profile">
            <div class="img">
                <img src="https://yt3.googleusercontent.com/ytc/AIf8zZS6XDo-M7dlTyolU_yBAp-cmqn0EfZ8AGkKa9yItg=s900-c-k-c0x00ffffff-no-rj" alt="Profile Image">
            </div>
            <text class="big">
                <span>black Devil </span>
                <span>Chrissbind@gmail.com</span>
            </text>
        </div>
        <button onclick="darkmode(false)" class="btn blue btn-sm tr-small"><span class="small"><i class="fa fa-sun "></i> </span><span class="big">light</span></button>
        <button onclick="darkmode(true)" class="btn red btn-sm tr-small"><span class="small"><i class="fa fa-moon "></i> </span><span class="big">Dark</span></button>
        <button id="short_menu_btn" class="btn green btn-sm tr-small" onclick="short_menu('show')"><span class="small"><i class="fa fa-bars "></i> </span><span class="big">More</span></button>
        <button  class="btn blue btn-sm tr-small"><span class="small"><i class="fa fa-sign-out "></i> </span><span class="big">profile</span></button>
        <p>&nbsp;</p>
        <div class="hide absolute" id="short_menu">
            <h3 class="title-3 "><span class="big">Actions</span> <button class="btn red btn-sm top-float tr-small" onclick="short_menu('hide')"><i class="fa fa-times "></i> <span class="big">Close</span></button></h3>
            <p>&nbsp;</p>
            <button class="btn blue tr-small"><i class="fa fa-user"></i> <span class="big">Account</span></button>
            <button class="btn green tr-small"><i class="fa fa-camera"></i> <span class="big">Picture</span></button>
        </div>
    </div>
    <div class="menu">
        <h3 class="title-3 big">Menu</h3>
        <a href="#" class="link active"><span class="small"><i class="fa fa-home"></i></span> <span class="big">Home</span></a>
        <a href="#" class="link"><span class="small"><i class="fa fa-coins"></i></span> <span class="big">Profit</span></a>
        <a href="#" class="link"><span class="small"><i class="fa fa-calendar"></i></span> <span class="big">schedule</span></a>
        <a href="#" class="link"><span class="small"><i class="fa fa-globe"></i></span> <span class="big">Languages</span></a>
        <a href="#" class="link"><span class="small"><i class="fa fa-comments"></i></span> <span class="big">Messages</span></a>
        <a href="#" class="link"><span class="small"><i class="fa fa-users"></i></span> <span class="big">Groups</span></a>
    </div>
    <div class="footer menu">
        <h3 class="title-3 big">Management</h3>
        <a href="#" class="link"><span class="small"><i class="fa fa-bell"></i></span> <span class="big">Notifications</span></a>
        <a href="#" class="link"><span class="small"><i class="fa fa-gear"></i></span> <span class="big">Settings</span></a>
        <a href="#" class="link"><span class="small"><i class="fa fa-sign-out"></i></span> <span class="big">Logout</span></a>
    </div>
</div>
